@charset "utf-8";

$off-black: #313639;
$off-white: #f8f8ff;
$yellow: #feef6d;

$body-background-color: $off-black;
$box-background-color: $off-white;
$navbar-item-color: $off-white;

@import "../../node_modules/bulma/bulma.sass";